/*
 * Copyright (c) 2024, Jan Kuliga
 */

/ {
	zephyr,user {
		io-channels = <&adc1 2>; /* CN9 pin A1 */
	};
};

&adc1 {
	#address-cells = <1>;
	#size-cells = <0>;


	pressure_sensor0: channel@2 {
		reg = <2>;
		zephyr,gain = "ADC_GAIN_1";
		zephyr,reference = "ADC_REF_INTERNAL";
		zephyr,acquisition-time = <ADC_ACQ_TIME_DEFAULT>;
		zephyr,resolution = <12>;
	};
};

&arduino_spi {
	cs-gpios = <&arduino_header 16 GPIO_ACTIVE_LOW>,/* D10 */
		   <&arduino_header 15 GPIO_ACTIVE_LOW>;/* D9 */
	thermocouple0: max6675@0 {
		compatible = "maxim,max6675";
		reg = <0>;
		spi-max-frequency = <4300000>;
	};
	thermocouple1: max6675@1 {
		compatible = "maxim,max6675";
		reg = <1>;
		spi-max-frequency = <4300000>;
	};
};
